/* #95a5a6 */
.hidden {
  display: none;
}

.hidden.pot-img, p.hidden, .login-container.hidden {
  display: none;
}


body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: -1px;
  font-family: 'Roboto', sans-serif;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

/* --------------Top Bar---------------- */

header {
  background-color: #0fb9b1;
  width: 100%;
  padding: 2px 20px;
  display: flex;
}

header h1 {
  flex: 1;
  font-size: 1.438em;
  display: inline-block;
  margin: 15px 10px;
}

.add-a-recipe {
  font-size: .938em;
  border-radius: 5px;
  background-color: white;
  border-style: none;
  padding: 10px 10px;
  margin: 10px 40px;
}


/* ---------Meal-Type selection box------- */

.white-box-container {
  display: flex;
  justify-content: space-around;
}

/* need to get the asterisk up higher */

.welcome-msg {
  font-style: italic;
}

section h2::after {
  content: "*";
  color: #ee5253;
}

section h2 {
  font-size: 1.875em;
}

.white-box {
  flex: 1;
  background-color: rgba(225, 225, 225, .9);
  width: 500px;
  height: 400px;
  margin: 65px 100px;
}

.box-contents {
  margin-left: 10%;
  margin-top: 12%;
}


.radio-btn {
  padding: 10px;
  display: block;
}


.meal-type {
  font-size: 1.125em;
  vertical-align: middle;
  padding: 5px;
}


.lets-cook-btn {
  background-color: #0fb9b1;
  width: 200px;
  font-size: 1.125em;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 10px;
}

/* -------Recipe Box------------------- */

.pot-img {
  height: 130px;
  width: 130px;
  display: block;
  margin: 29% auto;
}

.clear-btn {
  font-size: .938em;
  color: white;
  border-radius: 5px;
  background-color: #95a5a6;
  border-style: none;
  padding: 10px 10px;
  margin-top: 100px;
  margin-left: 400px;
}

/* ------------Hidden Recipe Text-------- */

p {
  font-style: italic;
  font-size: 1.125em;
  text-align: center;
  margin-top: 160px;
}

.random-dish {
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/* ----------Add a recipe bar----------- */

.container {
  height: 100%;
  position: relative;
}

.add-recipe-bar {
  width: 100%;
  background-color: rgba(225, 225, 225, .9);
  padding: 15px;
  position: fixed;
  bottom: 0%;
}

.add-new-btn {
  background-color: #0fb9b1;
  border: none;
  font-size: .938em;
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 20px;
}

#recipe-type {
  margin: 10px;
  height: 25px;
}

#recipe-name {
  margin-left: 10px;
  height: 25px;
}

#error {
  color: #fc0f03;
}

/* -----------login page--------------- */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, .9);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #0fb9b1;
  margin-top: 50px;
  height: 500px;
  width: 400px;
  border-radius: 5px;
}

.login-title {
  font-size: 2em;
   text-align: center;
   padding-bottom: 20px;
   border-bottom: solid;
}

input:invalid {
  background-color: #c2edec;
}

.pwd-msg {
  padding-top: 5px;
  margin: 0px 29px;
  font-size: .8em;
}


.login-inputs {
  margin-top: 50px;
  padding-left: 20px;
  display: flex;
}

.input-box {
  height: 20px;
  margin-left: 10px;
  height: 30px;
  flex: 1;
  margin-right: 30px;
  border: none;

}

.login-btn {
  font-size: 1em;
  padding: 10px 80px;
  margin: 40px 100px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
}
